@use '../base/variables' as *;

body {
    padding: 5vh 0;
    font-size: rem(13px);
    font-family: var(--ff-primary);
    font-weight: var(--fw-normal);
    width: 100%;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin-bottom: rem(60px);
}