@use '../base/variables' as *;

body {
    padding: 10vh 0;
    font-size: rem(13px);
    font-family: var(--ff-primary);
    font-weight: var(--fw-normal);
    width: 100%;
    background-color: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
}