@use '../base/variables' as *;

.share-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--bg-icon);
    width: rem(35px);
    height: rem(35px);
    border-radius: 50%;
    z-index: 100;
}

.fa-share {
    font-size: rem(14px);
}