@use '../base/variables' as *;

.card {
    background-color: var(--bg-card);
    width: 95%;
    max-width: rem(350px);
    margin: 0 auto;
    color: var(--primary-color);
    line-height: 1.6;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 5px 30px hsla(214, 17%, 51%, 0.11);

    &__body {
        padding: rem(32px);
    }

    &__heading {
        color: var(--dark-accent-color);
        font-size: rem(16px);
        font-weight: var(--fw-bold);
        margin-bottom: em(20px, 16px);
    }

    &__footer {
        padding: rem(20px) rem(32px);
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        transition: background-color 0.2s linear;
    }

    &__footer-author {
        display: flex;
        gap: 1rem;
    }

    &__avatar {
        width: rem(40px);
        height: rem(40px);
        border-radius: 50%;
    }

    &__name {
        color: var(--dark-accent-color);
        font-weight: var(--fw-bold);
    }

    &__share-icon {
        cursor: pointer;
        background-color: var(--bg-icon);
        padding: rem(10px);
        border-radius: 50%;
    }

    &__label {
        font-weight: var(--fw-bold);
        letter-spacing: 4px;
    }

    &__icons {
        display: flex;
        gap: rem(18px);
        cursor: pointer;
    }
}