@use "./variables" as *;

.flex {
    display: flex;
}

.visible {
    visibility: visible;
    width: 100%;
    max-width: 100%;
    padding: rem(20px) rem(32px);
}

.share-active {
    background-color: hsl(212, 23%, 69%);
}

.color-white {
    color: hsl(0, 0%, 100%);
}